WhereIsMyBusNodeREDFlow.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"c98345db.5354e8","type":"inject","z":"d56d83b9.52f05","name":"Weekdays 7-8am","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"*/1 7 * * 1,2,3,4,5","once":false,"x":130,"y":260,"wires":[["3a7e41d0.9f532e"]]\},\{"id":"a6ea8048.fcdc4","type":"inject","z":"d56d83b9.52f05","name":"every minute","topic":"run","payload":"1","payloadType":"str","repeat":"60","crontab":"","once":false,"x":120,"y":220,"wires":[["56cdde7.db1462"]]\},\{"id":"369a82f0.f9a89e","type":"function","z":"d56d83b9.52f05","name":"mux","func":"\\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":220,"wires":[["7df9fb59.876434","d594e7fe.04bc78"]]\},\{"id":"7df9fb59.876434","type":"debug","z":"d56d83b9.52f05","name":"Debug","active":true,"console":"false","complete":"payload","x":1770,"y":260,"wires":[]\},\{"id":"582622c8.fcc34c","type":"inject","z":"d56d83b9.52f05","name":"Flash Red Four Times","topic":"","payload":"#ff00004","payloadType":"str","repeat":"","crontab":"","once":false,"x":1400,"y":20,"wires":[["369a82f0.f9a89e"]]\},\{"id":"b511c7bc.765058","type":"function","z":"d56d83b9.52f05","name":"add 0","func":"msg.payload += \\"0\\";\\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":120,"wires":[["da6e9142.81dc"]]\},\{"id":"3a7e41d0.9f532e","type":"http request","z":"d56d83b9.52f05","name":"TfL API","method":"GET","ret":"txt","url":"http://countdown.api.tfl.gov.uk/interfaces/ura/instant_V1?LineName=AAA,BB&StopCode1=CCCCC&DirectionID=1&ReturnList=EstimatedTime","tls":"","x":360,"y":260,"wires":[["74a02a04.848f04","ed6760.18aff8a","f891b3de.78d42"]]\},\{"id":"ed6760.18aff8a","type":"function","z":"d56d83b9.52f05","name":"Time Till Stop","func":"// Time Till Stop\\n//\\n// This function parses the API message returned by TFL\\n// to extract the ETA of buses at the desired stop.\\n// It then subtracts the current time to calculate the\\n// time left until each bus arrives at the stop.\\n\\n// It returns an array of messages containing the\\n// times-till-stop in minutes for the incoming buses.\\n\\n// Initialise output message array.\\nvar timeMsgs = [];\\n\\n// Split the API message on \\"]\\" character\\n// to get an array of bus data.\\nvar buses = msg.payload.split(\\"]\\");\\n\\n\\nvar current_time = Date.now();\\n//node.warn(\\"current_time: \\"+current_time);\\n\\n\\n// Discard the first element as it contains metadata\\nbuses.shift();\\n// Discard last item as it's an empty string,\\n// which is a side-effect of splitting on ']'.\\nbuses.pop();\\n\\n// Iterate over all buses in the array\\nfor (var i in buses) \{\\n\\n\\t// In javascript, for/in loops return index, not value\\n\\t// so we need to index into original array to get bus info.\\n\\tbus = buses[i];\\n\\t\\n    // The per-bus data fields are comma-separated,\\n    // so split them on \\",\\".\\n    fields = bus.split(\\",\\");\\n    \\n    // The second field (indexes start at 0) is the\\n    // ETA of the bus in milliseconds since Unix time\\n    // epoch (1st Jan 1970.)\\n    var eta = fields[1];\\n    \\n     // Calculate time-till-stop by subtracting the\\n    // current time from the ETA and dividing by 1000\\n    // to turn it into seconds instead of milliseconds.\\n    \\n    var tts = (eta - current_time) / 1000;\\n    // then turn it into integer minutes (rounded down) to err on the safe side\\n    tts = Math.floor(tts/60); \\n    \\n\\t// Add time-till-stop to output message array.\\n    timeMsgs.push(tts);\\n\}\\n\\n// output the array of minutes-till-stop\\nmsg.payload = timeMsgs;\\nreturn msg;","outputs":"1","noerr":0,"x":660,"y":260,"wires":[["e33e9ebb.c1f9f","33ca3a24.bfd6a6"]]\},\{"id":"723f636c.57e48c","type":"change","z":"d56d83b9.52f05","name":"black","rules":[\{"t":"set","p":"payload","pt":"msg","to":"#0000000","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":380,"wires":[["369a82f0.f9a89e"]]\},\{"id":"74a02a04.848f04","type":"trigger","z":"d56d83b9.52f05","op1":"neutral","op2":"cheerlights","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","name":"Cheerlights if not doing Bus Times","x":720,"y":200,"wires":[["6b994916.ae30a8"]]\},\{"id":"e33e9ebb.c1f9f","type":"debug","z":"d56d83b9.52f05","name":"","active":false,"console":"false","complete":"false","x":970,"y":280,"wires":[]\},\{"id":"f891b3de.78d42","type":"debug","z":"d56d83b9.52f05","name":"","active":true,"console":"false","complete":"false","x":650,"y":300,"wires":[]\},\{"id":"33ca3a24.bfd6a6","type":"function","z":"d56d83b9.52f05","name":"thresholds","func":"// count how many buses are 3-6 minutes away, and \\n// how many are 3-30 minutes away\\n// returns the two counts so we can decide what to display\\n\\n// \\"greens\\" are the buses that are 3-6 minutes away\\nvar greens = 0;\\n// \\"reds\\" are the buses that are within 30 mins\\n// (actually, bus will be red if this count is 0)\\nvar reds = 0;\\n\\nfor (var index in msg.payload)\\n\{\\n    var tts = msg.payload[index];\\n    if (tts >=3 && tts <= 6) // 3-6 mins away\\n    \{\\n        greens ++;\\n        //node.warn(tts+\\" -> green\\");\\n    \}\\n    if (tts >=3 && tts <= 30) // 3-30 mins away\\n    \{\\n        reds ++;\\n        //node.warn(tts+\\" -> red\\");\\n    \}\\n\}\\n\\n// return the number of greens and number of reds we counted\\nmsg.payload = \{'greens': greens, 'reds': reds\};\\nreturn msg;","outputs":"1","noerr":0,"x":970,"y":360,"wires":[["f63d9996.77a408","ba87c49f.48ae18"]]\},\{"id":"4f697e09.a3dd2","type":"change","z":"d56d83b9.52f05","name":"green","rules":[\{"t":"set","p":"payload","pt":"msg","to":"#005500*","tot":"str"\}],"x":1290,"y":360,"wires":[["369a82f0.f9a89e"]]\},\{"id":"f63d9996.77a408","type":"switch","z":"d56d83b9.52f05","name":"greens?","property":"payload.greens","propertyType":"msg","rules":[\{"t":"gt","v":"0","vt":"num"\},\{"t":"else"\}],"checkall":"true","outputs":2,"x":1160,"y":380,"wires":[["4f697e09.a3dd2"],["33440516.edc62a"]]\},\{"id":"33440516.edc62a","type":"switch","z":"d56d83b9.52f05","name":"reds?","property":"payload.reds","propertyType":"msg","rules":[\{"t":"gt","v":"0","vt":"num"\},\{"t":"else"\}],"checkall":"true","outputs":2,"x":1290,"y":400,"wires":[["723f636c.57e48c"],["bd50c8e9.cbfa68"]]\},\{"id":"bd50c8e9.cbfa68","type":"change","z":"d56d83b9.52f05","name":"red","rules":[\{"t":"set","p":"payload","pt":"msg","to":"#FF0000*","tot":"str"\}],"x":1450,"y":420,"wires":[["369a82f0.f9a89e"]]\},\{"id":"ba87c49f.48ae18","type":"debug","z":"d56d83b9.52f05","name":"","active":false,"console":"false","complete":"payload","x":1170,"y":280,"wires":[]\},\{"id":"7caef502.b2374c","type":"debug","z":"d56d83b9.52f05","name":"","active":false,"console":"false","complete":"payload","x":1170,"y":200,"wires":[]\},\{"id":"f52f578b.06abe8","type":"function","z":"d56d83b9.52f05","name":"gearbox","func":"// do you want a \\"retained\\" message on each topic?\\nvar retained = true;\\nvar selected = context.get('selected') || null;\\n\\nif (msg.topic == \\"select\\")\\n\{\\n    selected = msg.payload;\\n    node.warn(\\"select: \\"+selected);\\n    context.set('selected', selected);\\n    if (retained)\\n    \{\\n        var retains = context.get('retains') || [];\\n        if (retains[selected]) \{\\n            node.send(\{topic: selected, payload: retains[selected]\});\\n        \}\\n    \}\\n\}\\nelse \\n\{\\n    if (retained)\\n    \{\\n        var retains = context.get('retains') || [];\\n        retains[msg.topic] = msg.payload;\\n        context.set('retains', retains);\\n    \}\\n    if (msg.topic == selected) \\n    \{\\n        return msg;\\n    \}\\n\}\\n// otherwise send nothing\\n","outputs":1,"noerr":0,"x":1160,"y":120,"wires":[["369a82f0.f9a89e"]]\},\{"id":"da6e9142.81dc","type":"change","z":"d56d83b9.52f05","name":"cheerlights","rules":[\{"t":"set","p":"topic","pt":"msg","to":"cheerlights","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":120,"wires":[["f52f578b.06abe8"]]\},\{"id":"6b994916.ae30a8","type":"change","z":"d56d83b9.52f05","name":"select","rules":[\{"t":"set","p":"topic","pt":"msg","to":"select","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":200,"wires":[["7caef502.b2374c","f52f578b.06abe8"]]\},\{"id":"4eba9082.fc875","type":"inject","z":"d56d83b9.52f05","name":"","topic":"select","payload":"cheerlights","payloadType":"str","repeat":"","crontab":"","once":true,"x":980,"y":60,"wires":[["f52f578b.06abe8"]]\},\{"id":"82f984e1.390498","type":"inject","z":"d56d83b9.52f05","name":"test \\"no buses\\"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"x":680,"y":360,"wires":[["33ca3a24.bfd6a6"]]\},\{"id":"56cdde7.db1462","type":"function","z":"d56d83b9.52f05","name":"gearbox","func":"// do you want a \\"retained\\" message on each topic?\\nvar retained = true;\\nvar selected = context.get('selected') || null;\\n\\nif (msg.topic == \\"select\\")\\n\{\\n    selected = msg.payload;\\n    node.warn(\\"select: \\"+selected);\\n    context.set('selected', selected);\\n    if (retained)\\n    \{\\n        var retains = context.get('retains') || [];\\n        if (retains[selected]) \{\\n            node.send(\{topic: selected, payload: retains[selected]\});\\n        \}\\n    \}\\n\}\\nelse \\n\{\\n    if (retained)\\n    \{\\n        var retains = context.get('retains') || [];\\n        retains[msg.topic] = msg.payload;\\n        context.set('retains', retains);\\n    \}\\n    if (msg.topic == selected) \\n    \{\\n        return msg;\\n    \}\\n\}\\n// otherwise send nothing\\n","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["3a7e41d0.9f532e"]]\},\{"id":"88df116.a925ff","type":"inject","z":"d56d83b9.52f05","name":"Test: Start","topic":"select","payload":"run","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":140,"wires":[["56cdde7.db1462"]]\},\{"id":"49376d87.bea3e4","type":"inject","z":"d56d83b9.52f05","name":"Test: Stop","topic":"select","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":true,"x":100,"y":180,"wires":[["56cdde7.db1462"]]\},\{"id":"b4b7c2e8.fbefb","type":"inject","z":"d56d83b9.52f05","name":"Go Blue","topic":"","payload":"#0000ff0","payloadType":"str","repeat":"","crontab":"","once":false,"x":1360,"y":100,"wires":[["369a82f0.f9a89e"]]\},\{"id":"10420ac5.59f965","type":"inject","z":"d56d83b9.52f05","name":"Go Green","topic":"","payload":"#00ff000","payloadType":"str","repeat":"","crontab":"","once":false,"x":1360,"y":60,"wires":[["369a82f0.f9a89e"]]\},\{"id":"d594e7fe.04bc78","type":"mqtt out","z":"d56d83b9.52f05","name":"","topic":"Lights","qos":"","retain":"","broker":"839be2fd.23a16","x":1770,"y":180,"wires":[]\},\{"id":"d7b57326.fad29","type":"http request","z":"d56d83b9.52f05","name":"Cheerlights API","method":"GET","ret":"txt","url":"http://api.thingspeak.com/channels/1417/field/2/last.txt","tls":"","x":660,"y":120,"wires":[["b511c7bc.765058"]]\},\{"id":"ef667458.aaad18","type":"inject","z":"d56d83b9.52f05","name":"Don't need to touch","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":440,"y":80,"wires":[["d7b57326.fad29"]]\},\{"id":"8d8f993e.cc2e58","type":"comment","z":"d56d83b9.52f05","name":"Edit the TFL API node! Double click here for info.","info":"The URL needs to be in this format\\nhttp://countdown.api.tfl.gov.uk/interfaces/ura/instant_V1?LineName=AAA,BB&StopCode1=CCCCC&DirectionID=1&ReturnList=EstimatedTime\\n\\nChange:\\nLinename is the bus number you require.\\nYou can add more than one, separated by commas\\nReplace AA and BB with the ones required.\\n\\nStopCode1 is the bus-stop number, this can be found on the bus-stop.\\nReplace CCCCC with the bus-stop number required.\\n\\nDirectionID\\ninbound = 1 or outbound = 2","x":340,"y":320,"wires":[]\},\{"id":"839be2fd.23a16","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""\}]}